<body>
  <section class="expertise-section">
 <div class="platforms-cards-container">
  <!-- Card 1 -->
  <div *ngFor="let chg of coachings" class="platform-card">
    <div class="platform-header">
      <div class="platform-logo-wrapper" style="background-color: #C4B9B7;">
        <img [src]="sanitizeImage(chg.image)" alt="logo" class="platform-logo">
      </div>
      <h3 class="platform-name">{{ chg.name }}</h3>
    </div>
    <p class="platform-description"> {{ chg.description }}</p>
    <div class="platform-rating">
      <img src="../../assets/87_913.svg" alt="4.7 stars rating">
      <span class="rating-score">4.7</span>
      <span class="rating-reviews">Basé sur 17 avis</span>
    </div>
    <a [routerLink]="['/coachingDetails', chg.id]" class="btn btn-primary">
      En savoir plus
    </a>
  </div>
</div>   
</section>    
</body>
