<body>
    <div class="container reveal-section"> 
        <div class="reveal-text">
        <span class="bold">Excellence des Centres de Formation </span> 
        <span class="regular">Développement Garanti </span><br>
        </div>

        <div class="sous-titre">
        Nos évaluations sous forme de tests psychométriques et de tests de compétence sont conçues pour aider les employeurs à connaître leurs employés et à leur fournir les informations dont ils ont besoin pour prendre les meilleures décisions.
        </div>
    </div>


<section class="expertise-section">
 <div class="platforms-cards-container">
  <!-- Card 1 -->
  <div class="platform-card">
    <div class="platform-header">
      <div class="platform-logo-wrapper" style="background-color: #C4B9B7;">
        <img src="../../assets/centre.svg" alt="Centre Logo" class="platform-logo">
      </div>
      <h3 class="platform-name">Centre HB</h3>
    </div>
    <p class="platform-description">Accédez à notre service de coaching emploi en ligne pour obtenir un accompagnement personnalisé dans votre recherche d'emploi, comprenant des conseils stratégiques et une préparation efficace aux entretiens. </p>
    <div class="platform-rating">
      <img src="../../assets/87_913.svg" alt="4.7 stars rating">
      <span class="rating-score">4.7</span>
      <span class="rating-reviews">Basé sur 17 avis</span>
    </div>
    <a [routerLink]="['/centre_formation']" class="btn btn-primary">En savoir plus</a>
  </div>

  <!-- Card 2 -->
  <div class="platform-card">
    <div class="platform-header">
      <div class="platform-logo-wrapper" style="background-color: #B0B9BD;">
        <img src="../../assets/formation.svg" alt="Formation Logo" class="platform-logo">
      </div>
      <h3 class="platform-name">Bliqs M5</h3>
    </div>
    <p class="platform-description">Notre service de simulation d'entretien offre une expérience pratique et immersive pour vous préparer efficacement aux entretiens d'embauche.</p>
    <div class="platform-rating">
      <img src="../../assets/87_919.svg" alt="4.7 stars rating">
      <span class="rating-score">4.7</span>
      <span class="rating-reviews">Basé sur 17 avis</span>
    </div>
    <a [routerLink]="['/e-learning']" class="btn btn-primary">En savoir plus</a>
  </div>

  <!-- Card 3 -->
  <div class="platform-card">
    <div class="platform-header">
      <div class="platform-logo-wrapper" style="background-color: #C2C6E5;">
        <img src="../../assets/formateur.svg" alt="Formateur Logo" class="platform-logo">
      </div>
      <h3 class="platform-name">Centre Wall Street</h3>
    </div>
    <p class="platform-description">Nousoffrons des services de traduction professionnelle pour vos CV et lettres demotivation, vous permettant de présenter votre profil de manière convaincantesur les marchés internationaux.</p>
    <div class="platform-rating">
      <img src="../../assets/87_1202.svg" alt="4.7 stars rating">
      <span class="rating-score">4.7</span>
      <span class="rating-reviews">Basé sur 17 avis</span>
    </div>
    <a href="#" class="btn btn-primary">En savoir plus</a>
  </div>

  <!-- Card 4 -->
  <div class="platform-card">
    <div class="platform-header">
      <div class="platform-logo-wrapper" style="background-color: #C2C6E5;">
        <img src="../../assets/formateur.svg" alt="Formateur Logo" class="platform-logo">
      </div>
      <h3 class="platform-name">Centre Molière</h3>
    </div>
    <p class="platform-description">Notre service de simulation d'entretien offre une expérience pratique et immersive pour vous préparer efficacement aux entretiens d'embauche.</p>
    <div class="platform-rating">
      <img src="../../assets/87_1202.svg" alt="4.7 stars rating">
      <span class="rating-score">4.7</span>
      <span class="rating-reviews">Basé sur 17 avis</span>
    </div>
    <a href="#" class="btn btn-primary">En savoir plus</a>
  </div>
  <!-- Card 5 -->
  <div class="platform-card">
    <div class="platform-header">
      <div class="platform-logo-wrapper" style="background-color: #C2C6E5;">
        <img src="../../assets/formateur.svg" alt="Formateur Logo" class="platform-logo">
      </div>
      <h3 class="platform-name">British Council</h3>
    </div>
    <p class="platform-description">Nou soffrons des services de traduction professionnelle pour vos CV et lettres demotivation, vous permettant de présenter votre profil de manière convaincantesur les marchés internationaux.</p>
    <div class="platform-rating">
      <img src="../../assets/87_1202.svg" alt="4.7 stars rating">
      <span class="rating-score">4.7</span>
      <span class="rating-reviews">Basé sur 17 avis</span>
    </div>
    <a href="#" class="btn btn-primary">En savoir plus</a>
  </div>
  <!-- Card 6 -->
  <div class="platform-card">
    <div class="platform-header">
      <div class="platform-logo-wrapper" style="background-color: #C2C6E5;">
        <img src="../../assets/formateur.svg" alt="Formateur Logo" class="platform-logo">
      </div>
      <h3 class="platform-name">Centre Français</h3>
    </div>
    <p class="platform-description">Notre service de simulation d'entretien offre une expérience pratique et immersive pour vous préparer efficacement aux entretiens d'embauche.</p>
    <div class="platform-rating">
      <img src="../../assets/87_1202.svg" alt="4.7 stars rating">
      <span class="rating-score">4.7</span>
      <span class="rating-reviews">Basé sur 17 avis</span>
    </div>
    <a href="#" class="btn btn-primary">En savoir plus</a>
  </div>
</div>   
</section>    




</body>