<body>

  <div *ngIf="loading" class="loading-container">
  <div class="spinner"></div>
  <p>Chargement des évaluations...</p>
</div>

<div *ngIf="!loading && coachings.length === 0" class="no-data">
  <p>Aucune évaluation disponible</p>
</div>
<div *ngFor="let cv of coachings; let i = index"> 
        <div class="container reveal-section"> 
            <div class="reveal-text">
            <span class="bold">{{ cv.titre }} </span> <br>         
            </div>

            <div class="sous-titre">
               {{ cv.sousTitre }} 
            </div>
        </div>
    <section id="section-hero" class="hero-section">
      <div class="container">
        <div class="hero-top">
          <div class="hero-badge">
            <div class="icon-box">
              <img [src]="sanitizeImage(cv.image)" [alt]="cv.name + ' icon'">
            </div>
            <div class="badge-text">
              <h1>{{ cv.name }}</h1>
            </div>
          </div>
          
          <div class="rating-block">
            <img src="../../assets/89_2735.svg" alt="Stars">
            <span class="score">4.7</span>
            <span class="reviews">Basé sur 17 avis</span>
          </div>
        </div>
        <div class="hero-content">
        </div>
      </div>
    </section>



    <section id="expertise-section">
      <div class="container">
        <div class="expertise-grid">
          <div class="expertise-left">
            <p>{{ cv.sections[0]?.headline }}</p>
            <h2>{{ cv.sections[0]?.subtitle }}</h2>
            <div class="expertise-left" *ngFor="let detail of cv.sections[0]?.details">
              <div class="expertise-item">
                <div class="item-text">
                  {{ detail.description }}
                </div>
              </div>              
            </div>
            <div class="expertise-left" *ngFor="let detail of cv.sections[1]?.details">
              <div class="expertise-item">
                <div class="check-icon">
                    <svg width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="11" fill="#72B656"/>
                        <path d="M7 12.5l3.5 3.5 6.5-7" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="item-text">
                  {{ detail.titre }}
                </div>
              </div>              
            </div>

          </div>
          <div class="expertise-right">
            <p>{{ cv.sections[1]?.headline }}</p>
            <h2>{{ cv.sections[1]?.subtitle }}</h2>            

            <div class="hero-image">
                <img [src]="sanitizeImage(cv.image)" [alt]="cv.name + ' icon'">
            </div>


          </div>
        </div>
      </div>
    </section>

    <!-- prix a regler -->
    <section id="pricing-section" class="pricing-section">
      <div class="container">
        <h2 class="section-title">{{ cv.sections[2]?.headline }}</h2>
        <p class="section-subtitle">{{ cv.sections[2]?.subtitle }}</p>
            <div *ngFor="let detail of cv.sections[2]?.details">
              <div class="expertise-item">
                <div class="item-text">
                  {{ detail.description }}
                </div>
              </div>              
            </div>
        <div class="pricing-cards">
        <div class="pricing-container">
          <div 
            class="pricing-card"
            *ngFor="let ps of cv.priceSections; let i = index"
            [ngClass]="getColorClass(i)"
          >

            <div class="card-header">
              <h3>{{ ps.title }}</h3>
              <div class="price">{{ ps.price }} € / page</div>
            </div>

            <div class="card-body">
              <p class="included">{{ ps.subtitle }}</p>

              <ul class="feature-list">
                <li *ngFor="let detail of ps.details">
                  <svg width="20" height="20" viewBox="0 0 24 24" fill="none">
                    <circle cx="12" cy="12" r="11" fill="#72B656"/>
                    <path d="M7 12.5l3.5 3.5 6.5-7" stroke="white" stroke-width="2.5"/>
                  </svg>
                  {{ detail.titre }}
                </li>
              </ul>
            </div>

            <div class="card-footer">
              <a href="#" class="btn btn-primary">Commander</a>
            </div>

          </div>
        </div>
        </div>
      </div>
    </section> 

    <section id="process-section" *ngIf="cv.sections[3]?.headline">
      <div class="container">
        <h2 class="section-title-pricing">{{ cv.sections[3]?.headline }}</h2>
        <p class="section-subtitle">{{ cv.sections[3]?.subtitle }}</p>
        
<div class="process-steps">
  <div class="step" *ngFor="let detail of cv.sections[3]?.details">
    
    <div class="step-icon">
      <div style="position: relative; width: 168px; height: 168px; margin: 0 auto;">
        <div class="heroo-icon">
          <img [src]="sanitizeImage(detail.icon)" alt="Photo evaluation" class="ev-image" />
        </div>
      </div>
    </div>

    <p class="step-text">{{ detail.titre }}</p>
    <p class="step-text">{{ detail.description }}</p>

  </div>
</div>

      </div>
    </section>

<section id="section-partners" class="partners-section">
    <div class="container">
        <h2 class="partners-title">Ils nous font confiance</h2>
        <p class="partners-subtitle">
            Il serait long et fastidieux de présenter la liste exhaustive de nos clients. Mais voici quelques exemples de collaborations qui illustrent une partie de notre savoir-faire. <strong>Alors pourquoi pas vous !</strong>
        </p>
        <div class="carousel-container">
            <button class="carousel-btn prev" (click)="scrollLeftPartners()">‹</button>
                <div class="carousel" #partnersCarousel>
                    <div class="partner-logo-card" *ngFor="let p of visiblePartners">
                        <img [src]="sanitizeImage(p.image)" alt="Photo evaluation" class="ev-image" />
                    </div>
                </div>

            <button class="carousel-btn next" (click)="scrollRightPartners()">›</button>
        </div>        
        <img src="../../assets/89_2666.svg" class="bg-ellipse ellipse3" alt="">
        
        <div class="testimonial-card">
            <h2 class="testimonial-heading">Ce que nos client disent de nous</h2>
            <div class="testimonial-content">
                <div class="testimonial-image-container">
                    <img src="../../assets/6a2ece96f84ed87bce0c2acb704722d0cec2f699.png" alt="Olivier Kunz's company logo">
                </div>
                <div class="testimonial-text">
                    <blockquote>"Les outils de Central Test nous aident non seulement à la prise de décision, mais aussi pour affiner le plan d'onboarding des candidats recrutés, et ainsi maximiser les chances de succès à la fois du collaborateur et de l'entreprise."</blockquote>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- <section id="testimonials-section">
      <div class="container">
        <div class="testimonial-card">
          <div class="testimonial-image">
            <div class="image-bg"></div>
            <img src="images/af0060a928e1813a3409f33491b715440c54c9e0.png" alt="Aymen B">
          </div>
          <div class="testimonial-content">
            <h4>Ce que nos particuliers disent de nous</h4>
            <blockquote>"J'ai été très satisfait du service de rédaction et de correction de CV que j'ai reçu. Ils ont vraiment pris le temps de comprendre mes compétences et mes objectifs professionnels, et le résultat final était professionnel et percutant !"</blockquote>
            <div class="author">
              <strong>Aymen B</strong><br>
              Responsable des ressources humaines
            </div>
          </div>
        </div>
      </div>
    </section> -->
</div>

</body>