 <body>
   <!-- <section id="hero" class="hero-section">
        <div class="container hero-container">           
            
            <div class="hero-form-wrapper">
                <form class="hero-form">
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" [(ngModel)]="user.Username" name="username">
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" [(ngModel)]="user.Password" name="password">
                </div>

                <div class="button-container">
                    <button type="button" class="btn btn-primary" (click)="login()">Sign in</button>
                    <button type="button" class="btn btn-cancel">Cancel</button>
                    <br>
                    <a href="register">Créer un compte!</a>
                </div>
                </form>


            </div>
        </div>
    </section> -->

   <section id="hero" class="hero-section">
        <div class="container">
            <!-- FORMULAIRE PROFIL -->
           <div class="hero-form-wrapper login-form">
                <form class="hero-form">
                    <h3>Connexion</h3>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" placeholder="Entrez votre email" [(ngModel)]="user.Email">
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe" [(ngModel)]="user.Password">
                    </div>

                    <div class="button-container">
                        <div class="button-group">
                            <button type="button" class="btn btn-primary" (click)="login()">Se connecter</button>
                            <button type="button" class="btn btn-cancel">Annuler</button>
                        </div>
                        
                        <div class="links-container">
                            <a href="register">Créer un compte!</a>
                            <a href="forgot-password">Mot de passe oublié!</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>    