<footer id="footer" class="site-footer-section">
  <div class="container footer-main">
    <div class="footer-col">
      <h4 class="footer-title">Information</h4>
      <ul>
        <li><a href="#">A propos</a></li>
        <li><a href="#">CGU</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Plan du site</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4 class="footer-title">Nos services</h4>
      <ul>
        <li><a href="#">Evaluation</a></li>
        <li><a href="#">Formation</a></li>
        <li><a href="#">Correction de CV & LM</a></li>
        <li><a href="#">Coaching Emploi</a></li>
        <li><a href="#">International</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4 class="footer-title">Liens utiles</h4>
      <ul>
        <li><a href="#">Keejob.com</a></li>
        <li><a href="#">Partenaires</a></li>
        <li><a href="#">Recrutement</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <div class="map-widget">
        <img src="../../assets/03240ccf2a8f22534d90438bde6740211c5859cd.png" alt="Map location">
      </div>
    </div>
    <div class="footer-col footer-col-contact">
      <h4 class="footer-title">Entrer en contact</h4>
      <p>Restez en contact avec nous et apprenez-en plus sur notre plateforme de services et explorez-nous dans cette rubrique.</p>
      <form class="newsletter-form">
        <input type="email" placeholder="Votre adresse e-mail">
        <button type="submit">Rejoignez nous</button>
      </form>
      <div class="footer-contact-info">
        <p><i class="fa-solid fa-envelope"></i> : mahmoudtaiebmtmt@gmail.com</p>
        <p><i class="fa-solid fa-phone"></i> : +216 24 466 435</p>
      </div>
      <div class="footer-socials">
        <a href="#"><img src="../../assets/236_13385.svg" alt="Facebook"></a>
        <a href="#"><img src="../../assets/236_13388.svg" alt="Twitter"></a>
        <a href="#"><img src="../../assets/236_13391.svg" alt="Instagram"></a>
        <a href="#"><img src="../../assets/236_13394.svg" alt="Pinterest"></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container footer-bottom-container">
      <div class="footer-logo">
        <img src="../../assets/e99005fc425c033053184710fa6a6f5af79eefad.png" alt="Keejob Store Logo">
      </div>
      <p class="copyright">© <span class="font-bold">KeeJob Store</span> 2024 Tous Droits Réservés</p>
    </div>
  </div>
</footer>