<footer id="footer" class="site-footer-section">
<div class="container footer-bottom-container">
  <div class="footer-logo">
    <p class="copyright">© 2026 <span class="font-bold">Keejob.com</span>. Tous droits réservés.</p>
  </div>

  <div class="footer-links-group">
    <p class="copyright">Conditions et règlement</p>
    <p class="copyright">Cookies</p>
    <p class="copyright">Qui sommes-nous ?</p>
    <p class="copyright">Plan du site</p>
    <p class="copyright">Préférences cookies</p>
  </div>
</div>
</footer>